main {
  font-size: 25px;
  margin: 0;
  background: #fff;
  border-radius: 50px;
}

main h1 {
  font-family: var(--font-fancy);
  color: var(--color-primary);
  font-size: 80px;
  padding: 30px;
  margin-left: 30px;
}

.wrapper {
  width: 80%;
  margin: 50px auto;
  font-family: var(--font-normal);
}

.wrapper h3 {
  color: var(--color-primary);
}

.contacts {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding-bottom: 30px;
}

.address {
  order: -1;
}

.contact_p {
  padding: 10px 50px 50px 50px;
  font-size: 20px;
  text-align: justify;
}


/* ********************************************** */
/* *************** Mobile VERSION *************** */
/* ********************************************** */

@media (max-width:1025px) {
  main {
    border-radius: 0px;
  }

  main h1 {
    padding: 20px;
    margin: 0px;
  }

  .wrapper {
    width: 90%;
    margin: 0px auto;
  }

  .wrapper h3 {
    color: var(--color-primary);
    margin: 0;
  }

  .contacts {
    display: block;
    text-align: center;
    padding: 1px;
    margin: 10px 0 0 0;
    border-radius: 10px;
  }

  .wrapper p {
    margin: 0;
    padding: 0;
  }

  .address {
    order: -1;
  }

  .contacts .tel,
  .contacts .email,
  .contacts .address {
    margin: 0px 0;
    padding: 30px 0;
  }

  .email p {
    font-size: 20px;
  }

  .contact_p {
    padding: 20px;
    font-size: 18px;
    text-align: left;
  }
}
