@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Sriracha&family=Trirong&display=swap');

main {
  background-color: #fff;
  font-family: 'Trirong', serif;
  width: 100%;
  margin: auto;
}

main::before {
  content: '';
  display: table;
  clear: both;
}


.header {
  background-color: #990000;
  text-align: center;
  color: #fff;
  font-family: 'Italianno', cursive;
  font-size: 2rem;
}

.p {
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 0 20px 20px 20px;
  margin: 0;
  color: #000;
  border-bottom: 8px solid #990000;
  text-decoration: none;
}

.lunch_pack_wrapper,
.lunch_extra_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  border-bottom: 8px solid #990000;
  background-color: #fff;
}

.lunch_pack_h4,
.extra_h2 {
  background-color: #fff;
  color: #990000;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.lunch_pack_p,
.lunch_extra_p {
  margin: 0;
  padding: 0;
  color: #990000;
  text-align: center;
}

.two_images{
  text-align: center;
}

.lunch_bag_apple_img,
.lunch_bags_img,
.lunch_bag_box_img {
  width: 33%;
  margin: 20px 0 0 0 ;
}

.lunch_bag_apple_img {
    width: 44%;
}

.lunch_items_li,
.extra_items_li{
  width: 90%;
  font-size: 1.1rem;
  padding: 0 30px;
  line-height: 30px;
  box-shadow: 1px 15px 10px #000;
  text-align: center;
  list-style-type: decimal;
  list-style-position: inside;
}

.extra_items_li {
  list-style-type:  upper-latin;
}


/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
/* *************** 1024px VERSION *************** */
/* *************** 1024px VERSION *************** */
/* *************** 1024px VERSION *************** */
/* ********************************************** */
/* ********************************************** */
/* ********************************************** */

@media (min-width:1024px) {
  main {
    width: 80%;
  }


  .header {
    font-size: 4rem;
  }

  .p {
    font-size: 1.3rem;
  }

  .lunch_pack_wrapper,
  .lunch_extra_wrapper{
    width: 50%;
    float: left;
    border: none;

  }

  .lunch_items_li{
    margin-top: 56px;
  }

  .lunch_extra_wrapper {
    float: right;
  }

  .clear::after {
    content: ' ';
    display: table;
    clear: both;
  }


}
