.imgs {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid 5px gray;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
}

.img {
  width: 30%;
  flex-grow: 1;
  border: solid 10px gray;
  margin: 5px;
  align-self: center;

}
