#dropdown {
                      /* background-color: green; */
  margin: 50px;
}

#dropdown_menus {
  background-color: var(--color-primary);
  color: #fff;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-family: var(--font-normal);
  text-align-last: center;
}

#menu {
  background-color: #fff;
  font-family: var(--font-normal);
  width: 600px;
  margin: 50px auto;
  padding: 20px 15px 70px;
  text-align: center;
  border-radius: 50px;
  color: #000;
  font-size: 1em;
}

#menu img {
                /* border: solid red 3px; */
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}

#menu h6,
#menu h5 {
    margin: 10px 0;
}


/* ********************************************** */
/* *************** Mobile VERSION *************** */
/* ********************************************** */

@media (max-width:1025px) {
  #dropdown {
                        /* background-color: green; */
    margin: 0px;
    padding: 0;
  }

  #dropdown_menus {
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
  }

  #menu {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
  }

  #menu img {

  }

  #menu h1 {
    font-size: 20px;
    margin: 10px 0;
  }

  #menu p {
    font-size: 18px;
    margin: 20px 0 3px 0;
  }

  #menu h6 {
    margin: 0 0 20px 0;
  }

}
