#dropdown {
                      /* background-color: green; */
  margin: 50px;
}

#dropdown_menus {
  background-color: var(--color-primary);
  color: #fff;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-family: var(--font-normal);
  text-align-last: center;
}

.menu_jpg {
  display: block;
  width: 65%;
  margin: 0 auto;
}

#download {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-family: var(--font-fancy);
  color: var(--color-primary);
  font-size: 50px;
}

#download:hover {
  color: #fff;

}


/* ********************************************** */
/* *************** Mobile VERSION *************** */
/* ********************************************** */

@media (max-width:1025px) {
  #dropdown {
                        /* background-color: green; */
    margin: 0px;
    padding: 0;
  }

  #dropdown_menus {
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
  }

  .menu_jpg {
    width: 100%;
  }

}
