#waitering_service,
#free_delivery {
    background: #fff;
    font-family: var(--font-normal);
}

.wrapper {
  margin: 30px;
  padding: 20px;
}

#free_delivery .wrapper .mv {
  display: none;
}

#waitering_service h2,
#free_delivery h2 {
  font-family: var(--font-fancy);
  color: var(--color-primary);
  font-size: 50px;
}

.red {
  color: var(--color-primary);
  margin-top: -20px;
  margin-bottom: 30px;
}

#waitering_service .img_flex {
                    /* background: red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

}

#waitering_service .waiting_imgs {
  border: 2px solid var(--color-primary);
  flex: 1 200px;
  width: 300px;
  margin: 10px;
}


#free_delivery img {
  float: right;
  border-radius: 3px;
  margin: 20px;
  width: 33%;
  border: 2px solid var(--color-primary);
}


/* ********************************************** */
/* *************** Mobile VERSION *************** */
/* ********************************************** */

@media (max-width:1025px) {
  #waitering_service .wrapper,
  #free_delivery .wrapper {
    margin: 0px;
    padding: 20px;
  }

  #waitering_service .wrapper h2,
  #free_delivery .wrapper h2 {
    margin: 20px 0px 0px 0;
    padding: 0;
  }

  #waitering_service .waiting_imgs {
    flex-grow: 1;
    max-width: 110px;
    margin: 5px;
  }

  #free_delivery img {
    float: right;
    width: 40%;
    margin: 0;
    padding: 0;
    border: 2px solid var(--color-primary);
  }

  #free_delivery .delivery_text {
    margin-top: 50px;
  }
}
