
main {
  background: #fff;
  padding: 1%;
}

.tc {
  margin: 0 50px;
}

/* ********************************************** */
/* *************** Mobile VERSION *************** */
/* ********************************************** */

@media (max-width:1025px) {
  main {
    border-radius: 0px;
  }
